<div class="content">
  <h2 class="title">{{pageTitle}}</h2>

  <form (ngSubmit)="saveData(form)" #form="ngForm" class="form">

    <mat-form-field class="form-fields">
      <input matInput placeholder="Nome do restaurante" type="text" name="nome" id="nome" [(ngModel)]="restaurante.nome" required>
    </mat-form-field>

    <div>
      <button type="button" mat-raised-button color="warn" (click)="navigateBackToRestaurante()">
        <mat-icon>undo</mat-icon> Cancelar
      </button>

      <button mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Salvar
      </button>
    </div>
  </form>
</div>