<h2>{{pageTitle}}</h2>

<form (ngSubmit)="saveData()" [formGroup]="form">
  <label for="restaurante">Restaurante:</label>
  <select id="restaurante" formControlName="restaurante" [(ngModel)]="prato.restaurante">
    <option [value]="prato.restaurante" disabled>Escolha um Restaurante</option>
    <option *ngFor="let restaurante of restaurantes" [ngValue]="restaurante">
      {{restaurante.nome}}
    </option>
  </select>

  <label for="nome">Prato</label>
  <input type="text" formControlName="nome" id="nome" [(ngModel)]="prato.nome">

  <label for="preco">Preço(R$)</label>
  <input type="number" formControlName="preco" id="preco" [(ngModel)]="prato.preco">

  <button type="button">
    <a (click)="navigateBackToPratos()">Cancelar</a>
  </button>
  <input type="submit" value="Salvar">
</form>