<div class="content">
  <h2 class="title">{{pageTitle}}</h2>

  <form (ngSubmit)="saveData()" [formGroup]="form" class="form">

    <mat-form-field class="form-fields">
      <mat-select placeholder="Restaurante" formControlName="restaurante" [(ngModel)]="prato.restaurante" name="food">
        <mat-option *ngFor="let restaurante of restaurantes" [value]="restaurante">
          {{restaurante.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-fields">
      <input matInput placeholder="Prato" formControlName="nome" [(ngModel)]="prato.nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Preço(R$)" type="number" formControlName="preco" [(ngModel)]="prato.preco">
    </mat-form-field>

    <div>
      <button type="button" mat-raised-button color="warn" (click)="navigateBackToPratos()">
        <mat-icon>undo</mat-icon> Cancelar
      </button>

      <button mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Salvar
      </button>
    </div>
  </form>
</div>